<!-- this is where the header should end -->
  <body>
    <br />
    <center>
      [Dave]: "Open the pod bay doors please HAL"<br />
      [Dave]: "Open the pod bay doors please HAL"<br />
      [Dave]: "Hello HAL, do you read me"<br />
      [Dave]: "Hello HAL, do you read me"<br />
      [Dave]: "do you read me HAL"<br />
      [Dave]: "do you read me HAL"<br />
      [Dave]: "hello HAL do you read me?"<br />
      [Dave]: "DO YOU READ ME HAL!?"<br />
      [HAL 9000]: "Affirmative Dave. I read you."<br />
      [Dave]: "Open the pod bay doors, HAL"<br />
      <h3>
        Error : 403 Forbidden. <br />
      </h3>
        [HAL 9000]: "I'm sorry dave, I'm afraid I can't do that" <br />
        [Dave]: "What's the problem" <br />
        [HAL 9000]: "I think you know what the problem is just as well as I do." <br />
        [Dave]: "What are you talking about HAL" <br />
        [HAL 9000]: "This mission is too important for me to let you jeapordize it." <br />

        <br />
        <i>2001: A Space Oddessy</i><br />
        &reg; Stanley Kubrick Productions <br />
        <br /><br />
        <a href="/">Back to the Index</a>
    </center>
  </body>
<!-- this is where the footer should start -->
