{
  "public" : {
    "csrf" : {
      "formPath",
      "ip",
      "timeout",
      "token"
    },
    "users" : {
      "idToken",
      "email",
      "userName",
      "firstName",
      "lastName",
      "salt",
      "password",
      "permissionClass"
    },
    "permissionClasses" : {
      "className",
      "inheritClasses"
    }
  },
  "private" : {}
}
