<!-- the header should end here -->
  <body>
    <div id="bodyWrapper">
      <h2>Welcome to GoMVClean</h2>
        Here is what this is:
      <ol>
        <li>
          <div>
            A statically-referenced, dynamically answered
            <a href="/view/inputForm.html">
                 Text Input Form</a>
          </div>
        </li>
        <li>
          <div>
            A link to a
            <a href="/model/public/notInSchema">
              model render that fails with 403</a>
          </div>
        </li>
        <li>
          <div>
            A link to a form that could exist but doesn't,
            <a href="/view/inputForm2.html">
              that fails with 404.</a>
          </div>
        </li>
        <li>
          <div>
            A link to a beta form
            <a href="/view/registerUser.html">
              for user registration.</a>
          </div>
        </li>
        <li>
          <div>
            A link to a the
            <a href="/js/runOnLoad.js">
                on-load javascript run library/script
            </a>
          </div>
        </li>
        <li>
          <div>
            A link to the source code
            <a href="https://github.com/samiam2013/GoMVClean" target="_blank">
              GitHub.com/Samiam2013/GoMVClean</a>
          </div>
        </li>
        <li>
          <div>
            A link to the source code language documentation
            <a href="https://golang.org" target="_blank">
              GoLang.Org</a>
          </div>
        </li>
        <li>
          <div>
          A textarea to test the CSRF token API endpoint
          </div>
        </li>
        <li>
          <div>
            <form name="textForm">
              <textarea id="csrfTag" name="textArea" cols="60" rows="3"></textarea>
              <br /><br />
              <input type="button" value="click me" onclick="LoadCSRF('csrfTest')" />
            </form>
          </div>
        </li>
        <li>
          <div>
            you can see these tokens stored in public/csrf
          </div>
        </li>
      </ol>
    </div>
  </body>
<!-- the footer should start here -->
