
<!-- the header should end here -->
<body>
  <div id="bodyWrapper">

    &lt  <a href="/">Index</a>
    <br />
    <br />

    <h3>Click submit to see a JSON API response [no input required]</h3>

    <form name="textForm" method="POST" action="/api/testPost">
      <br />
<textarea name="textArea" cols="50" rows="5">
This input is meaningless and will entirely be ignored by the API.
The path in the api this form is pointed at doesn't have an implemented functionality.
</textarea>
      <br />
      <br />
      <input type="submit" value="Submit"></input>
    </form>

  </div>
</body>
<!-- the footer should start here -->
