<body onload="regFormLoad()">
<script>
function regFormLoad(){
  document.getElementById('noJavascript').remove();
  LoadCSRF('/api/registerUser','csrfInput');
}
</script>
  <div id="bodyWrapper">
    <h2>Register User to GoMVClean</h2>
    <h4 id="noJavascript">[Javascript disabled. JS is required on this page for security purposes.]</h4>
    <ol>
      <form id="registerUser" method="POST" action="/api/registerUser">
        <li>
          <div>
            Email Address:
          </div>
        </li>
        <li>
          <div>
            <input type="text" id="email"/>
          </div>
        </li>
        <li>
          <div>
            Username:
          </div>
        </li>
        <li>
          <div>
            <input type="text" id="userName" />
          </div>
        </li>
        <li>
          <div>
            First Name:
          </div>
        </li>
        <li>
          <div>
            <input type="text" id="firstName" />
          </div>
        </li>
        <li>
          <div>
            Last Name:
          </div>
        </li>
        <li>
          <div>
            <input type="text" id="lastName" />
          </div>
        </li>
        <li>
          <div>
            Password:
          </div>
        </li>
        <li>
          <div>
            <input type="password" id="password" />
          </div>
        </li>
        <li>
          <div>
            Password Confirmation:
          </div>
        </li>
        <li>
          <div>
            <input type="password" id="passwordConfirm" />
          </div>
        </li>
        <li>
          <div>
              <input type="hidden" id="csrfInput" value=""/>
              <input type="button" value="register" onclick="submitRegistrationForm('csrfInput')"/>
          </div>
        </li>
      </form>
    </ol>
  </div>
</body>
<!-- the footer should start here -->
